<style>
	html {
		font-family: sans-serif;
	}
</style>

<p>Hallo <strong><%= @user.email %></strong>,</p>

<p>Wilkommen bei in-frieden.ch.</p>

<p>Sie wurden erfolgreich angemeldet. Es freut uns, dass wir ihnen helfen dürfen.</p>

<%= link_to "Hier geht's zurück zur Homepage", root_url %>