<style>
	html {
		font-family: sans-serif;
	}
</style>

<p>Hallo <strong><%= @user.full_name %></strong>,</p>

<p>Welcome to welcomelittle.com.</p>

<p>You have been successfully reigstered. We're excited to be able to help you out!</p>

<%= link_to "Here you can get back to the homepage", root_url %>