<style>
	html {
		font-family: sans-serif;
	}
</style>

<p>Hallo <strong><%= @user.email %></strong>,</p>

<p>Willkommen bei in-frieden.ch.</p> 

<p>Ihr Konto wurde erfolgreich eingerichtet.</p>

<p>Wir freuen uns, dass wir sie unterstützten können.</p>

<%= link_to "Zur Homepage", root_url %>

