.box-todesanzeige {
	// margin: 6px;
	padding: 24px;
	border-radius: 5px;
	font-size: 14px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.template {
	background-color: #D1CFCA;
}

.beispiel {
	background-color: #FCF9F4;
}


.placeholder {
	background-color: #FCF9F4;
	border-radius: 3px;
	padding: 3px;
}

.text{
	margin: 6px;
}

.fa-arrow-up{
	margin-right: 6px;
}

.break{
	margin-top: 12px;
}

.text ul li a{
	text-decoration: none;
	color: black;
}

.text ul li a:hover{
	color: #7B5C59;
}

.liste-inhalte{
	list-style: none;
	padding-left: 0;
}

.strong{
	color: #7B5C59;
}

.artikel-link{
	color: #C27D32;
	font-weight: bold;
}

.artikel-link:hover{
	color: #90323D;
	text-decoration: none;
}

.trix-content{
	// position: relative;
	padding-bottom: 24px;
	color: #4b3b47;
}

.article-update{
	text-align: right;
	p{
		font-size: 12px;
	}
}

.container-light {
	background-color: #fffefc;
}

.container-dark {
	background-color: #fcf9f4;
}

.container-article {
	border-radius: 5px;
	background-color: #fcf9f4;
	padding: 24px;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);

}

.errors-container{
	color: red;
	border: 2px solid;
	border-radius: 3px;
	padding: 6px;
	margin-bottom: 12px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
	.container-article {
		margin: 12px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
 
}
