.profile-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	// justify-content: space-between;
}

.flex-item {
	display: flex;
	flex-direction: column;
	text-align: left;

	// flex: 30% 70%;
}

.basic-info {
	.title {
		margin-bottom: 3px;
		font-weight: bold;
	}
}

.cover-img-obituary {
	width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 7px;
}

.cover-img-obituary.user {
	width: 150px;
	height: 150px;
}

.custom-img-obituary {
	// width: 300px;
  // max-width: 250px;
  // height: 300px;
  // max-height: 250px;
  // object-fit: cover;
  border-radius: 7px;
}


.nav-tabs {
	border-bottom: none;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
	margin-bottom: 12px;

	.nav-link.active {
	border: none;
	background-color: #fcf9f4;
	border-bottom: 3px solid #4b3b47;
	color: #4b3b47;
	}
}

.nav-tabs .nav-link {
	border: none;
	text-decoration: none;
	color: #7B5C59;
	font-weight: bold;
}

.container-obituary {
	border-radius: 5px;
	background-color: #fcf9f4;
	padding: 24px;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	margin-right: 12px;
	margin-left: 12px;	
}

.published-at {
	text-align: right;
	p{
		font-size: 12px;
		margin-bottom: -12px;
		color: rgb(119, 116, 116);
	}
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .profile-details {
		grid-template-columns: 1fr;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .profile-details {
		grid-template-columns: 1fr 1fr;
  }
  .basic-info {
  	margin-left: 12px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.profile-details {
		grid-template-columns: 1fr 1fr;
  }
  .flex-item {
  	margin-left: 40px;
  }

  .tabs {
		margin-left: 12px;
		margin-right: 12px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.profile-details {
		grid-template-columns: 1fr 1fr;
  }
  .flex-item {
  	margin-left: 80px;
  }

  .tabs {
		margin-left: 34px;
		margin-right: 34px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.profile-details {
		grid-template-columns: 1fr 1fr;
  }
  .flex-item {
  	margin-left: 120px;
  }

  .tabs {
		margin-left: 50px;
		margin-right: 50px;
	}
}




