.photo-selection {
	// margin-bottom: 24px;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 4px;
  color: #4b3b47;
}

.upload-photo:hover {
		text-decoration: none;
		color: #7B5C59;
	}

.password-requirement {
  border: 1.3px solid red;
  border-radius: 4px;
  padding: 6px 18px;
  margin-bottom: 12px;
}

.container-user {
  border-radius: 5px;
  background-color: #fcf9f4;
  padding: 36px 12px;
  // padding-bottom: 36px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.user-obituaries {
  display: grid;
  // flex-direction: column;
  grid-template-columns: 1fr;
}

.user-obituary-img {
  text-align: center;
}

.user-obituary-details {
  margin: 12px;
}

.publ-date {
  font-size: 14px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-user {
    margin: 0 0;
    // padding: 30px 12px;
  }
  .container-title {
    margin: 24px 12px;
  }

  .user-obituary-details {
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-user {
    // margin: 0 40px;
  }
  .container-title {
    margin: 24px 40px;
  }

  .user-obituary-details {
    text-align: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-user {
    margin: 0 80px;
  }
  .container-title {
    margin: 24px 80px;
  }

  .user-obituary-details {
    text-align: left;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-user {
    margin: 0 150px;
  }
  .container-title {
    margin: 24px 150px;
  }

  .user-obituary-details {
    text-align: left;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-user {
    margin: 0 200px;
  }
  .container-title {
    margin: 24px 200px;
  }

  .user-obituary-details {
    text-align: left;
  }
}
