<div class="container">
      
  <div class="cards">
    
    <% @articles.each do |article| %>
      <div class="card-category">
        <div class="card-title">
          <h5><%= article.title %></h5>
        </div>
        <div class="card-content">
          <p><%= article.description %></p>
        </div>
        <div class="card-update">
          <p>Updated: <%= article.updated_at.strftime("%d.%m.%Y") %></p>
        </div>
      </div>
    <% end %>
  
  </div>

</div>