<h2 id="inhalte">Was beinhaltet eine Todesanzeige?</h2>
<p>
	Nach einem Todesfall kann es für Hinterbliebene sehr schwierig sein, sich auf all die vielen Dinge zu konzentrieren, die anfallen. Eine der Herausforderungen ist die <strong class="strong">Todesanzeige</strong>. Aus Respekt zur verstorbenen Person, möchte man einen möglichst würdigen Nachruf erstellen. Doch wo anfangen? Im <a class="artikel-link" href="#vorlagen">folgenden Artikel</a>, haben wir ein paar Ideen und Vorlagen zusammengestellt, die ihnen bei der Formulierung einer Traueranzeige behilflich sein können. Alle <strong class="strong">Vorlagen</strong> sind einfach nachzuverfolgen und den eigenen Bedürfnissen anpassbar.
	<br>
	<br>
	Bei einer Traueranzeige möchte man prinzipiell drei Dinge ausdrücken: 
	<ul>
		<li>den <strong class="strong">Verlust</strong> einer Person</li>
		<li>die damit einhergehende <strong class="strong">Trauer</strong></li>
		<li>die <strong class="strong">Freude</strong> über das gelebte Leben</li>
	</ul>    
	Eine Traueranzeige ehrt das Leben einer geliebten Person auf eine Art und Weise, wie es kaum anderweitig möglich ist. Daher sollten sie nicht zögern, über diese Vorlagen hinauszugehen und eigene Anekdoten, Erinnerungen oder sogar Insiderwitze, die von den Hinterbliebenen geschätzt wären, anzufügen. Denke Sie daran, <strong class="strong">dies ist ihre Möglichkeit, einer geliebten Person gebührend zu gedenken:</strong> Warum also nicht z.B. ein Lied zitieren, das die Person sehr mochte?
	<br>
	<br>
	Normalerweise werden Todesanzeigen in der Zeitung geschaltet. Bis es jedoch soweit ist, haben wir für Sie ein paar <strong class="strong">Vorlagen</strong> zusammengestellt, die Ihnen bei der Wortfindung helfen werden. Wenn Ihnen eines der Vorlagen zusagt, können Sie diese einfach verwenden für Ihren eigenen Nachruf. Wir hoffen, dass diese Vorlagen eine Hilfe sind bei der Ehrung einer geliebten Person sowie der Aufrechterhaltung einer wichtigen Tradition.
	<br>
	<br>
	Wenn Sie mehr im Detail darüber erfahren möchten, wie man eine Todesanzeigen schreibt, klicken Sie <a class="artikel-link" href="#traueranzeigen-im-detail">hier</a>, wo wir das Thema etwas ausführlicher beschreiben.
</p>