<h2 id="traueranzeigen-im-detail">Wie schreibt man eine Traueranzeige?</h2>
<br>
<h5>Inhalt</h5>
<ul class="liste-inhalte">
	<li><a href="#verkuendung-tod">1. Verkündigung des Todes</a></li>
	<li><a href="#biographie">2. Kurze Biographie</a></li>
	<li><a href="#familienmitglieder">3. Familienmitglieder</a></li>
	<li><a href="#orte-einzelheiten">4. Überblick Orte und Einzelheiten</a></li>
	<li><a href="#fotos">5. Fotos</a></li>
</ul>
<br>

<p>	
	Das Verfassen einer Todesanzeige ist ein Ausdruck der Liebe, der viele Dinge bewirken kann. Im Kern ist ein Nachruf eine Erklärung des Verlustes, ein Bekenntnis der Trauer und ein Ausdruck der Freude über ein gelebtes Leben.
	<br>
	<br>
	Über das hinaus, was ein Nachruf emotional bewirken kann, hat ein Nachruf auch eine logistische Bedeutung, da er als offizielle Todesanzeige fungiert, die die Gemeinschaft über einen Verlust informiert. Traditionell geschieht die Mitteilung eines Todesfalls über eine Zeitung, wobei die Hinterbliebenen gut und gerne mehr als tausend Franken für die Veröffentlichung eines Nachrufs zahlen. 
	<br>
	<br>
	Auf in-frieden.ch können Sie online einen Nachruf schreiben und diesen veröffentlichen. Dazu müssen Sie lediglich eine kostenlose Gedenkseite für einen geliebten Menschen erstellen. Schließlich kann eine Todesanzeige nicht nur als Nachruf dienen, sondern auch dazu, Informationen über den Gottesdienst, die Beerdigung und die Gedenkveranstaltung zu übermitteln sowie Spendenaufrufe zu machen, oder Freiwillige koordinieren, die sich engagieren und den Hinterbliebenen helfen wollen.
	<br>
	<br>
	<h5 id="verkuendung-tod">1. Verkündigung des Todes</h5>
	
	Als erstes dient dient die Todesanzeige dazu, die Gemeinschaft über die Einzelheiten des Verlustes eines geliebten Menschen zu informieren. Eine Todesanzeige enthält in der Regel den Namen, das Alter und den Wohnort eines geliebten Menschen sowie die Zeit und den Ort des Todes.
	<br>
	<br>
	Folgende Formulierungen sind üblich:
	<br>
	<br>
	unsere geliebte Mutter, Schwester und Freundin
	Friedlich gestorben
	Starb nach langem Kampf mit
	Verabschiedet nach hartem Kampf mit
	Kehrte am [Datum] in seine himmlische Heimat zurück
	<br>
	<br>
	Wichtig ist, daran zu denken, wie die Botschaft ihrer Todesanzeige bei Freunden und Familie wahrgenommen wird: So macht es z.B. einen Unterschied, ob Sie schreiben ein geliebter Mensch ist "gestorben" oder "friedlich eingeschlafen". Je nach Kontext sind beide varianten geeignet: Die eine zieht eine faktische, direkte Art vor, die andere nutzt weichere Worte um die Botschaft zu vermitteln.
	<br>
	<br>
	<h5 id="biographie">2. Kurze Biographie</h5>
	Der biografische Teil eines Nachrufs ist eine wirkungsvolle Möglichkeit, das Leben eines geliebten Menschen in wenigen Absätzen zu würdigen. Es gibt keine festgelegten Höchst- oder Mindestanforderungen für das Verfassen einer Biografie, also fühlen Sie sich nicht entmutigt, mehr zu schreiben, wenn Sie persönliche Geschichten oder Emotionen hinzufügen möchten. In der Regel enthält eine Kurzbiographie wichtige Lebensereignisse und Meilensteine wie zum Beispiel:
	<br>
	<br>
	Geburtsdatum und -ort
	Namen der Eltern 
	Datum und Ort der Eheschließung, einschließlich Geburtsname des Ehegatten
	Bildung
	Arbeit
	Militärdienst
	Ursachen
	Leidenschaften und Hobbys
	<br>
	<br>
	Tipp: Bevor Sie mit dem Verfassen eines Nachrufs beginnen, sollten Sie Freunde und Familie befragen, um Notizen über ihr Leben zu sammeln. Auch wenn nicht jede Erinnerung es in die Kurzbiografie schaffen wird, kann Ihnen die Zeit, die Sie mit der Befragung von Familienmitgliedern verbringen, dabei helfen, die Lebensereignisse eines geliebten Menschen in eine chronologische Reihenfolge zu bringen und Leidenschaften und Hobbys zu entdecken, die Sie möglicherweise nicht über einen geliebten Menschen kannten - ganz zu schweigen davon, dass dies auch eine therapeutische Übung ist, wenn Sie den Verlust eines geliebten Menschen betrauern.
	<br>
	<br>
	<h5 id="familienmitglieder">3. Familienmitglieder</h5>
	Die Nennung von Familienmitgliedern eines geliebten Menschen beim Verfassen eines Nachrufs hat einen großen Wert. Zum einen gibt es den Gemeindemitgliedern eine Möglichkeit, zu wissen, wer Teil der Familie ist und wer daher trauern könnte und Aufmerksamkeit benötigt. Darüber hinaus kann die Nennung von Familienmitgliedern dem Zweck dienen, diejenigen zu ehren, die bereits verstorben sind, und gleichzeitig die Hinterbliebenen zu würdigen.
	<br>
	<br>
	Denken Sie daran: Bei der Auflistung von Familienmitgliedern ist es am besten, nahe Familienangehörige wie Eltern, Geschwister, Ehepartner, Kinder und Enkelkinder einzubeziehen. Es ist üblich, Eltern, Geschwister, einen Ehepartner und Kinder zu nennen, während es weniger üblich ist, alle Enkelkinder, Nichten und Neffen zu nennen.
	<br>
	<br>
	<h5 id="orte-einzelheiten">4. Überblick Orte und Einzelheiten</h5>
	Es ist üblich, dass in Nachrufen Beerdigungen, Orte, Zeiten und Details aufgeführt werden, damit die Gemeindemitglieder wissen, wann und wie sie an den stattfindenden Veranstaltungen teilnehmen können.
	<br>
	<br>
	<h5 id="fotos">5. Fotos</h5>
	Wenn Sie planen, Ihren Nachruf auf in-frieden.ch zu veröffentlichen, steht es Ihnen frei, eine Seite zu erstellen, auf der Sie Erinnerungen austauschen und im Rahmen der Erstellung einer Online-Gedenkstätte Bilder, Erinnerungen und Beileidsbekundungen sammeln können.
	<br>
	<br>
	Es ist wichtig, Hilfe beim Verfassen von Nachrufen zu erhalten, da ein Nachruf helfen kann, das auszudrücken, was manchmal schwer zu sagen ist, besonders während der Trauer. Ein Nachruf kann dazu beitragen, den Tod anzuerkennen und bekannt zu machen, damit eine Gemeinschaft zusammenkommt, eines gut gelebten Lebens gedenkt und Möglichkeiten erhält, sich an der Feier des Lebens eines geliebten Menschen zu beteiligen. Die besten Nachrufe sind nicht diejenigen, die am teuersten in einer Zeitung zu veröffentlichen sind, sondern Nachrufe, die gut geschrieben sind und von Herzen kommen.
	<br>
	<br>
	Sind Sie daran interessiert, einen Nachruf kostenlos zu veröffentlichen? Erstellen Sie eine kostenlose Gedenkseite für eine verstorbene Person und fügen Sie einen Nachruf, Beerdigung, Fotos und mehr hinzu.
	<br>
</p>