<h2 id="vorlagen">Traueranzeigen, Vorlagen</h2>
<br>
<h5>Inhalt</h5>
<ul class="liste-inhalte">
	<li><a href="#kurze-todesanzeige">Kurze Todesanzeige</a></li>
	<li><a href="#standard-todesanzeige">Standard Todesanzeige</a></li>
</ul>
<br>

<h5 id="kurze-todesanzeige">Kurze Todesanzeige</h5>
<p>
	Kurze Todesanzeigen sollten die wichtigsten Meilensteine und grundlegende Informationen über die verstorbene Person enthalten sowie allfällig bereits verstorbene Partner und Familienangehörige erwähnen. Kurzanzeigen werden im Normalfall dann publiziert, wenn die Privatsphäre der Person geschützt werden und/oder wenn lediglich eine kurze öffentliche Kundtuung gemacht werden will.
	<br>			
	
	<h5>Beispiel kurze Todesanzeige</h5>
	<div class="box-todesanzeige template">
		<span class="placeholder">[Name]</span>, <span class="placeholder">[Alter]</span>, aus <span class="placeholder">[Ort]</span>, ist am <span class="placeholder">[Datum des Todes]</span> an <span class="placeholder">[Todesursache]</span> verstorben.
		<br>
		<br>
		<span class="placeholder">[Liste der Familienangehörigen, die bereits verstorben sind]</span> sind bereits aus dem Leben geschieden. <span class="placeholder">[Name]</span> hinterlässt <span class="placeholder">[Liste hinterbliebener Familienangehörige]</span>.
		<br>
	</div>
	<br>

	<div class="box-todesanzeige beispiel">
		Franziska Maurer, 84, aus Adliswil ist am 14.3.2020 an Altersschwäche verstorben.
		<br>
		<br>		
		Ihr Mann Heinz Maurer ist bereits aus dem Leben geschieden. Franziska hinterlässt zwei Töchter - Tanja Mauerer-Risi und Isabelle Maurer sowie drei Enkelkinder.
		<br>
	</div>
	
</p>
<br>

<h5 id="standard-todesanzeige">Standard Todesanzeige</h5>
<p>
	Eine standard Todesanzeige gibt eine Übersicht über das Leben einer Person, nachdem sie verstorben ist. Eine solche Todesanzeige beinhaltet normalerweise alle Grundangaben (Geburtsdatum, Todesdatum, Hinterbliebene, bereits Verstorbene, etc.). Sie geht aber auch über diese hinaus indem sie über die Errungenschaften und Leidenschaften der Person erzählt. Dabei wird oftmals darüber berichtet, wie die Person ihr weiteres Umfeld oder nahestehende Personen beeinflusst und geprägt hat, wie die Familie entstanden ist, oder was für sie / ihn wichtig in der Freizeit war. 
	<br>
	
	<h5>Beispiel standard Todesanzeige</h5>
	<div class="box-todesanzeige template">
		<span class="placeholder">[Name]</span>, <span class="placeholder">[Alter]</span>, aus <span class="placeholder">[Ort]</span>, ist am <span class="placeholder">[Datum des Todes]</span> nach <span class="placeholder">[Beschreibung]</span> Kampf gegen <span class="placeholder">[Todesursache]</span> verstorben.
		<br>
		<br>
		<span class="placeholder">[Name]</span> ist am [<span class="placeholder">Geburtsdatum]</span> in <span class="placeholder">[Geburtsort]</span> geboren. Nach Abschluss <span class="placeholder">[Ausbildung]</span> in <span class="placeholder">[Ort der Schule]</span> <span class="placeholder">[Abschlussjahr]</span>, studierte sie/er <span class="placeholder">[Studium]</span> an der Universität <span class="placeholder">[Name der Universität]</span>.
		<br>
		<br>
		Nach erfolgreichem Abschluss, begann sie/er ihre/seine Karriere in der <span class="placeholder">[Industrie]</span> industrie. Im Jahr <span class="placeholder">[Jahr in dem sie sich kennenlernten]</span> lernte sie / er <span class="placeholder">[Name des Partners]</span> kennen. Sie heirateten <span class="placeholder">[Heiratsjahr]</span> und bekamen <span class="placeholder">[Anzahl Kinder]</span> Kinder, <span class="placeholder">[Liste der Namen der Kinder]</span>.
		<br>
		<br>
		Nach der Pensionierung in <span class="placeholder">[Jahr der Pensionierung]</span>, verbrachte <span class="placeholder">[Name]</span> die meiste Zeit mit <span class="placeholder">[Liste Lieblingsaktivitäten]</span>.
		<br>
		<br>
		<span class="placeholder">[Liste der Familienangehörigen, die bereits verstorben sind]</span> sind bereits vor ihr/ihm aus dem Leben geschieden. <span class="placeholder">[Name]</span> hinterlässt <span class="placeholder">[Liste hinterbliebener Familienangehörige]</span>.
		<br>
	</div>
	<br>

	<div class="box-todesanzeige beispiel">
		Berchtold Peter, 75, aus Zürich, ist am 26.3.2020 nach kurzem Kampf gegen Darmkrebs verstorben.
		<br>
		<br>
		Berchtold ist am 2.1.1945, in Dübendorf geboren. Nach Abschluss des Gymnasiums 1965, studierte er Ingenieurwissenschaften an der ETH Zürich.
		<br>
		<br>
		Nach erfolgreichem Abschluss, begann er seine Karriere in der Bauindustrie. Im Jahr 1972 lernte er Juliane Buchholz kennen. Sie heirateten 1975 und bekamen 2 Kinder, Fabian und Yvette Peter.
		<br>
		<br>
		Nach der Pensionierung in 2010 verbrachte Berchtold viel Zeit die meiste Zeit mit seiner Leidenschaft Bewandern unterschiedlicher Länder sowie mit seinen Enkelkindern.
		<br>
		<br>
		Sein Bruder, Markus, ist bereits vor ihm aus dem Leben geschieden. Berchtold hinterlässt seine Frau Juliane, seine Kinder sowie deren Enkelkinder.
		<br>
	</div>
</p>