<!-- Icons edit & delete top -->
<% if user_signed_in? %>
	<div class="icons-top">

		<% if policy(@obituary).update? %>
			<div class="icon-edit">
				<%= link_to edit_obituary_path, class: "btn" do %>
			  	<i class="fas fa-edit"></i>
				<% end %>
			</div>
		<% end %>

		<% if policy(@obituary).destroy? %>
			<div class="icon-delete">
				<%= link_to obituary_path(@obituary),
				      method: :delete,
				      data: { confirm: "Sind Sie sicher, dass sie die Traueranzeige von #{@obituary.full_name} löschen wollen?" },
				      class: "btn" do %>
						<i class="fas fa-trash-alt"></i>
				<% end %>
			</div>
		<% end %>

	</div>
<% end %>