<!-- Icons edit & delete top -->
<% if user_signed_in? %>
	<div class="icons-top-index">

		<% if policy(@obituary).update? %>
			<!-- <div class="icon-edit"> -->
				<%= link_to obituary_text_path(@obituary), class: "btn" do %>
			  	<i class="fas fa-edit"></i>
				<% end %>
			<!-- </div> -->
		<% end %>

		<% if policy(@obituary).update? %>
			<!-- <div class="icon-delete"> -->
				<%= link_to obituary_text_destroy_path(@obituary),
				      method: :post,
				      data: { confirm: "Sind Sie sicher, dass sie den Text von #{@obituary.full_name}s Traueranzeige löschen wollen?" },
				      class: "btn" do %>
						<i class="fas fa-trash-alt"></i>
				<% end %>
			<!-- </div> -->
		<% end %>

	</div>
<% end %>