<p><strong class="strong"><%= event.name %></strong></p>

<% if event.address.present? %>
	<p><strong class="strong">Ort:</strong> <%= event.address %></p>
<% end %>

<% if event.date.present? %>
	<p><strong class="strong">Datum:</strong> <%= event.date.strftime('%d.%m.%Y') %></p>
<% end %>

<% if event.time.present? %>
	<p><strong class="strong">Uhrzeit:</strong> <%= event.time.strftime('%k:%M') %> Uhr</p>
<% end %>