<div class="container">
	<div class="row">
		<div class="col">
			<br>
			<h2 id="inhalte">Was beinhaltet eine Traueranzeige?</h2>
			<p>
				Nach einem Todesfall kann es für Hinterbliebene sehr schwierig sein, sich auf all die vielen Dinge zu konzentrieren, die anfallen. Eine der Herausforderungen ist die <strong>Todesanzeige</strong>. Aus Respekt zur verstorbenen Person, möchte man einen möglichst würdigen Nachruf erstellen. Doch wo anfangen? Im folgenden Artikel, haben wir ein paar Ideen und Vorlagen zusammengestellt, die ihnen bei der Formulierung einer Traueranzeige behilflich sein können. Alle <strong>Vorlagen</strong> sind einfach nachzuverfolgen und den eigenen Bedürfnissen anpassbar.
			</p>
			
			<p>
				Bei einer Traueranzeige möchte man prinzipiell drei Dinge ausdrücken: 
				<ul>
					<li>den <strong>Verlust</strong> einer Person</li>
					<li>die damit einhergehende <strong>Trauer</strong></li>
					<li>die <strong>Freude</strong> über das gelebte Leben</li>
				</ul>    
			</p>	

			<p>	
				Eine Traueranzeige ehrt das Leben einer geliebten Person auf eine Art und Weise, wie es kaum anderweitig möglich ist. Daher sollten sie nicht zögern, über diese Vorlagen hinauszugehen und eigene Anekdoten, Erinnerungen oder sogar Insiderwitze, die von den Hinterbliebenen geschätzt wären, anzufügen. Denke Sie daran, <strong>dies ist ihre Möglichkeit, einer geliebten Person gebührend zu gedenken:</strong> Warum also nicht z.B. ein Lied zitieren, das die Person sehr mochte?
			</p>

			<p>
				Normalerweise werden Todesanzeigen in der Zeitung geschaltet. Bis es jedoch soweit ist, haben wir für Sie ein paar <strong>Vorlagen</strong> zusammengestellt, die Ihnen bei der Wortfindung helfen werden. Wenn Ihnen eines der Vorlagen zusagt, können Sie diese einfach verwenden für Ihren eigenen Nachruf. Wir hoffen, dass diese Vorlagen eine Hilfe sind bei der Ehrung einer geliebten Person sowie der Aufrechterhaltung einer wichtigen Tradition.
			</p>

			<p>
				Wenn Sie mehr im Detail darüber erfahren möchten, wie man eine Todesanzeigen schreibt, klicken Sie <a href="#traueranzeigen-im-detail">hier</a>, wo wir das Thema etwas ausführlicher beschreiben.
			</p>
			<br>

			<!-- Next Article -->
			<h2 id="vorlagen">Traueranzeigen, Vorlagen</h2>
			<h5>Kurze Todesanzeige</h5>
			<p>
				Kurze Todesanzeigen sollten die wichtigsten Meilensteine und grundlegende Informationen über die verstorbene Person enthalten sowie allfällig bereits verstorbene Partner und Familienangehörige erwähnen. Kurzanzeigen werden im Normalfall dann publiziert, wenn die Privatsphäre der Person geschützt werden und/oder wenn lediglich eine kurze öffentliche Kundtuung gemacht werden will.
			</p>
			<h5>Beispiel einer kurzen Todesanzeige</h5>
			<p>
				[Name], [Alter], aus [Ort], ist am [Datum des Todes] an [Todesursache] verstorben.
			</p>
			<p>
				[Liste der Familienangehörigen, die bereits verstorben sind] sind bereits aus dem Leben geschieden. [Name] hinterlässt [Liste der hinterbliebenen Familienangehörigen].
			</p>
			<p>
				Franziska Maurer, 84, aus Adliswil ist am 14.3.2020 an Altersschwäche verstorben.
			</p>
			<p>
				Ihr Mann Heinz Maurer ist bereits aus dem Leben geschieden. Franziska hinterlässt zwei - Töchter, Tanja Mauerer-risi und Isabelle Maurer sowie drei Enkelkinder.
			</p>
			<br>
			<h5>Standard Todesanzeige</h5>
			<p>
				Eine standard Todesanzeige gibt eine Übersicht über das Leben einer Person, nachdem sie verstorben ist. Eine solche Todesanzeige beinhaltet normalerweise alle Grundangaben (Geburtsdatum, Todesdatum, Hinterbliebene, bereits Verstorbene, etc.). Sie geht aber auch über diese hinaus indem sie über die Errungenschaften und Leidenschaften der Person erzählt. Dabei wird oftmals darüber berichtet, wie die Person ihr weiteres Umfeld oder nahestehende Personen beeinflusst und geprägt hat, wie die Familie entstanden ist, oder was für sie / ihn wichtig in der Freizeit war. 
			</p>
			<h5>Beispiel einer standard Todesanzeige</h5>
			<p>
				[Name], [Alter], aus [Ort], ist am [Datum des Todes] nach [Beschreibung] Kampf gegen [Todesursache] verstorben.
			</p>
			<p>
				[Name] ist am [Geburtsdatum] in [Geburtsort] geboren. Nach Abschluss [Ausbildung] in [Ort der Schule] im Jahr [Abschlussjahr], studierte sie/er [Studium] an der Universität [Name der Universität].
			</p>
			<p>
				Nach erfolgreichem Abschluss, begann sie/er ihre/seine Karriere in der [Industrie] industrie. Im Jahr [Jahr in dem sie sich kennenlernten] lernte sie / er [Name des Partners] kennen. Sie heirateten [Heiratsjahr] und bekamen [Anzahl Kinder] Kinder, [Liste der Namen der Kinder].
			</p>
			<p>
				Nach der Pensionierung in [Jahr der Pensionierung], verbrachte [Name] die meiste Zeit mit [Liste der Lieblingsaktivitäten].
			</p>
			<p>
				[Liste der Familienangehörigen, die bereits verstorben sind] sind bereits vor ihr/ihm aus dem Leben geschieden. [Name] hinterlässt [Liste der hinterbliebenen Familienangehörigen].
			</p>
			<br>
			<p>
				Berchtold Peter, 75, aus Zürich, ist am 26.3.2020 nach kurzem Kampf gegen Darmkrebs verstorben.
			</p>
			<p>
				Berchtold ist am 2.1.1945, in Dübendorf geboren. Nach Abschluss des Gymnasiums im Jahr 1965, studierte er Ingenieurwissenschaften an der ETH Zürich.
			</p>
			<p>
				Nach erfolgreichem Abschluss, begann er seine Karriere in der Bauindustrie. Im Jahr 1972 lernte er Juliane Buchholz kennen. Sie heirateten 1975 und bekamen 2 Kinder, Fabian und Yvette Peter.
			</p>
			<p>
				Nach der Pensionierung in 2010 verbrachte Berchtold viel Zeit die meiste Zeit mit seiner Leidenschaft des Wanderns in unterschiedlichen Ländern sowie mit seinen Enkelkindern.
			</p>
			<p>
				Sein Bruder, Markus, ist bereits vor ihm aus dem Leben geschieden. Berchtold hinterlässt seine Frau Juliane, seine Kinder sowie deren Enkelkinder.
			</p>
			
			<!-- Next Article -->
			<h2 id="traueranzeigen-im-detail">Wie schreibt man eine Traueranzeige?</h2>

			<br>
		</div>		
	</div>
</div>