<div class="container-fluid container-light">
	<div class="row">
		<div class="col py-5">

			<h2>Kontakt</h2>
			<br>
			<p>
				Wir sind eine junge Organisation, die es sich zur Mission gemacht hat, mehr <strong class="strong">Transparenz</strong> und <strong class="strong">Einfachheit</strong> in den Pietätsmarkt zu bringen. Wir sind der Meinung, dass vielerorts zu hohe Preise für inadequate Dienstleistungen verlangt werden, wobei die oftmals verzweifelte Situation, in der sich die Hinterbliebenen befinden, schamlos ausgenutzt wird. 
			</p>
			<p>
				<%= link_to "in-frieden.ch", root_path, class: "artikel-link" %> will dies ändern, durch <strong class="strong">faire</strong> und <strong class="strong">einfache Onlinediesnstleistungen</strong>.
			</p>
			<p>Wenn sie Fragen oder Anregungen haben, bitte zögern sie nicht, mit uns in Kontakt zu treten.</p>
			<%= link_to "Nachricht senden", new_contact_path, class: "btn btn-flat" %>
			<br>
			<br>
		</div>
	</div>
</div>