<style>
	html {
		font-family: sans-serif;
	}
</style>

<p>Hallo <strong><%= @contact.email %></strong>,</p>

<p>Vielen Dank für ihre Nachricht.</p>

<p>Wir haben ihr Feedback erhalten und werden so schnell wie möglich mit ihnen in Kontakt treten.</p>

<p>Freundliche Grüsse,</p>

<p>ihr in-frieden.ch Team</p>

<%= link_to "Hier geht's zurück zur Homepage", root_url %>
