.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 140px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.user-avatar{
  width: 70px;
  border-radius: 50%;
  img:hover{
    color: $blue; 
  }
}

.fa-user-circle {
  font-size: 120px;
  color: #7B5C59;
}

.photo-selection {
  text-align: center;
  // margin-bottom: -6px;
}

.default-avatar {
  text-align: center;
}

.col-name {
  vertical-align: middle;
}