.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  a{
  	text-decoration: none;
  }
}

.card-user-obituary {
  display: grid;
  background-size: cover;
  background-color: #fffefc;
  height: auto;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
  border: 3px solid #7B5C59;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 24px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-user-obituary {
    grid-template-columns: 1fr;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-user-obituary {
    grid-template-columns: 1fr;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card-user-obituary {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card-user-obituary {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

    .card-user-obituary {
    grid-template-columns: 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-color: white;
  height: auto;
  // display: flex;
  // justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  padding: 20px;
  position: relative;
}
  .home {
    background-color: #fffefc;
  }

.card-title{
	margin-top: 6px;
}

.card-content{
	margin-top: 6px;
  font-size: 14px;
  p{
  margin-bottom: 22px;

  }
}

.card-update{
	position: absolute;
	bottom: 12px;
	right: 12px;
	p{
		margin-bottom: 0px;
		font-size: 12px;
	}
}




















