<p>Hallo <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Wir kontaktieren Sie um ihnen mitzuteilen, dass Ihre Emailadress zu <%= @resource.unconfirmed_email %> geändert wird.</p>
<% else %>
  <p>Wir kontaktieren Sie um ihnen mitzuteilen, dass Ihre Emailadress zu <%= @resource.unconfirmed_email %> geändert wurde. %>.</p>
<% end %>
