<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link beantragt, um Ihr Passwort zu ändern. Sie können dies über den Link unten tun.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn sie dies nicht gewünscht haben, ignorieren Sie bitte diese Email.</p>
<p>Ihr Passwort wird nicht geändert, bis sie den Link oben nutzten um ein neues zu erstellen.</p>
