<p>Hallo <%= @resource.email %>!</p>

<p>Ihr Konto wurde aufgrund zu vieler Einloggversuche gesperrt.</p>

<p>Klicken Sie den Link unten um Ihr Konto wieder zu entsperren.</p>

<p><%= link_to 'Mein Konto entsperren', unlock_url(@resource, unlock_token: @token) %></p>
